h1 {
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
	color: black;
}

h2 {
	padding: 10px;
}

a {
	color: black;
}

img {
	text-align: center;
}

.container {
	/* background-image: url('https://image.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg'); */
	   background-color: #fcfafa;
	   /* background-repeat: no-repeat; */
	   /* background-size: 100% 100%; */
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
	transition: all 500ms ease;
	padding-top: 0px;
}

.containerBookTaking {

		/* background-image: url('https://image.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg'); */
		   background-color: #fcfafa;
		   /* background-repeat: no-repeat; */
		   /* background-size: 100% 100%; */
		width: 100%;
		height: 100%;
		left: 70px;
		z-index: -10;
		transition: all 500ms ease;
		padding: 50px;

}



.containerBookList {
	margin:60px auto;
	width: 450px;
	height: 400px;
	background:whitesmoke;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	left: 10px;
	top: 20px;
	/* overflow-y: scroll; */
}

.containerStatistics {
	margin:60px auto;
	width: 450px;
	height: 400px;
	background:whitesmoke;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	left: 500px;
	top: 20px;
	/* overflow-y: scroll; */
}

.containerReviews {
	margin:60px auto;
	width: 450px;
	height: 400px;
	background:whitesmoke;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	left: 1000px;
	top: 20px;
	/* overflow-y: scroll; */
}

.scrollableBox {
	position: relative;
	margin:60px auto;
	width: 500px;
	height: 500px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	overflow-y: scroll;
}

.box {
	position: relative;
	text-align: center;
	margin: auto;
	width: 500px;
	height: 600px;
	background:white;
	padding: 10px;
	border-radius: 10px;
}

.react-bs-container-body tr {
	border-top-style: hidden !important;
  }
  
  .react-bs-container-header tr {
	border-bottom-style: hidden !important;
  }

.button {
	border-radius: 12px;
	background-color: lightgrey;
	height: 30px;
	color: black;
}

.form {
	padding: 50px;
}

.centerButton {
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
}

.spacing {
	line-height: 20px; 
}



