.container {
	background-color:tan;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
	transition: all 500ms ease;
}

.scrollableBox {
	position: relative;
	margin:60px auto;
	width: 500px;
	height: 500px;
	background: #fff;
	padding: 30px;
	border-radius: 20px;
	overflow-y: scroll;
}

.box {
	position: relative;
	margin:60px auto;
	width: 500px;
	height: 500px;
	background: #fff;
	padding: 30px;
	border-radius: 20px;
}

.button {
	border-radius: 12px;
	background-color: lightgrey;
	width: 100px;
	height: 50px;
	color: black;
}



